body{
	font-family: Verdana,Tahoma,Arial,sans-serif;
}
footer{
	/* display: none; */
	padding-top: 10px;
	padding-left: 5px;
	color:#999;
	background: #000;
	a{
		color:#999;
		
	}
	a:hover{
			color:#fff;
			text-decoration: none;
		}
}

.navbar{
	padding: 0;
	margin: 0;
	border-radius: 0;
}

#myCarousel{
	margin:0;
}

#tabs{ 
	div{
		margin-bottom: 10px;
	}
	select{
	height: 33px;
	}
	textarea{
		height: 150px;
		resize: vertical;
	}
}